# THIS CHANGES THE DEFAULT TEXTUAL STYLES FOR ALL STATICS.
# Not the default for some reason.
Static {
    width: auto;
}

.compact-static {
    width: auto;
    padding: 0 1;
}

CustomHeader {
    height: 3;
    background: $surface;
    # padding: 0 1;
    border-bottom: hkey $panel;
    box-sizing: border-box;
    margin: 0 0 1 0;
    #ascii_banner {
        min-width: 83;
        width: auto;
    }
    #header_info {
        # background: blue;
        align: right top;
        padding: 0 1;
        & > Static {
            width: auto;
        }
    }
}

TabbedContent {
    # border: outer green;
    height: 1fr;
    .content-container {
        padding: 0;
        # background: blue;
    }
}

.card-container {
    margin: 1 3;
    padding: 0 1;
    border: outer $panel;
    height: auto;
    background: $surface;
}

ManagedMountHeader {
    height: 3;
}

ManagedMount {
    height: 3;
    margin: 1 0;
    background: $surface-lighten-1;
    border: hkey $panel-lighten-1;
    # border-left: outer red;
}

.mount-data-box {
    width: 1fr;
    padding: 0 1;
    # background: blue;
}

#mount-col-names {
    height: 1;
    margin: 1 0 0 0;
}

DiscoveredMountHeader {
    height: 2;
}

SettingOption {
    height: 3;
    Static {
        padding: 0 2;
    }
}
# #settings-container {
#     layout: grid;
#     grid-size: 2 1;
# }